header .search {
  position: relative;
  margin-left: calc(var(--bs-gutter-x) * 2);
}

.fontResizer {
  display: inline-block;
  visibility: visible;
  z-index: 9999;
  font-size: 0.8em;
  margin-top: 1.5em;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  position: absolute;
  top: 0;
  left: calc(var(--bs-gutter-x) * -2);
}

/* Backwards compatible with old theme header */
.layout .fontResizer {
  --bs-gutter-x: 0.5rem;
  top: 1.5em;
}

.fontResizer i.fa {
  visibility: visible;
  height: 25px;
  width: 25px;
  margin-top: 2px;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  display: block;
  border: none;
  z-index: 9999;
}

.fontResizer i.fa:hover {
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
  -moz-transform: scale(1.2); /* Firefox */
}

/* Nudge plus and minus because font icon leans right */
.fontResizer i.fa.fa-plus,
.fontResizer i.fa.fa-minus {
  padding-left: 1px;
}

@media screen and (min-width: 640px) {
  body.flat-search .row.search-widget.flat {
    padding-right: 5em;
  }
}

body.flat-search header .search {
  margin-left: 0;
}

body.flat-search .fontResizer {
  display: inline-flex;
  margin-top: 0.5em;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  right: 0;
  left: unset;
}
